#######
## R ##
#######

.Rhistory
*-Ex.R
.Rdata
*.pdf
.Rapp.history
*.csv
*.tsv

# Annoying mac_files
*.DS_Store

############
## Python ##
############

# ipython notebook directories
.ipynb_checkpoints/

# env files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.virtualenv/
env/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.txt
!requirements.txt
.sql
\#*
\.#*
# Translations
*.mo

#############
## Vagrant ##
#############

.vagrant/
\#Makefile#

###########
## Misc. ##
###########

.idea
*.iml

# Notebook stuff
analysis/.local
analysis/.ipython
analysis/.config
analysis/.cache
analysis/.ipynb_checkpoints

# Downloaded datasets
analysis/.data/


.env
.ai