.env
__pycache__/
*.py[cod]
*.so
.Python
.virtualenv/
.venv/
env/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt



.idea
*.iml
.vscode/
__marimo__/
.ai
*.DS_Store
.data/



# build output
dist/

# generated types
.astro/
.astro-marimo/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# setting folder
.idea/
.vscode/