.env
__pycache__/
*.py[cod]
*.so
.Python
.virtualenv/
.venv/
env/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt



.idea
*.iml
.vscode/
__marimo__/
.ai
*.DS_Store
.data/
